@import "tailwindcss";

@theme {
  --color-imageBg: #d7bd80;
}

.shadow_login_btn {
  box-shadow: 0 6px 10px var(--color-gray-300);
  transition: 100ms;
}
.shadow_login_btn:hover{
  box-shadow: 0 6px 7px var(--color-gray-400);
}