@import "tailwindcss";

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('../public/fonts/Vazir-Thin.ttf');
  font-weight: 200;
}

@theme {
  --color-imageBg: #d7bd80;
}

@layer components {
  .card_style {
    @apply border-1 border-gray-300 rounded-xl bg-white;
  }
}

* {
  font-family: Vazir;
  font-weight: normal;
}

body {
  background-color: var(--color-gray-100);
}

.shadow_login_btn {
  box-shadow: 0 6px 10px var(--color-gray-300);
  transition: 100ms;
}

.shadow_login_btn:hover {
  box-shadow: 0 6px 7px var(--color-gray-400);
}